.message-group{ "data-message-id": "#{message.id}" }
  .message-list-create
    .message-list__name
      = message.user.name
    .message-list__post-date
      = message.created_at.strftime("%Y-%m-%d %H:%M:%S")
  .message-list__content
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?