.box
  = render 'shared/side_bar'
  .main-contents
    .header-screen
      .header-group
        .group-name{ "data-id": "#{@group.id}" }
          = @group.name
        .login-name
          Member:
          - @group.users.each do |user|
            = user.name
      = link_to "Edit", edit_group_path(params[:group_id]), method: :get, class: "edit-btn"

    .messages-screen
      = render @messages
    .footer-screen
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form-group', placeholder: 'type a message'
        .formt
          = f.label :image, class: 'image-icon' do
            = fa_icon 'picture-o', class: 'image-input'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'send-btn'