.left-contents
  .user-main
    %h3.name
      = current_user.name
    %ul.icons
      %li.chat-side__user-new
        = link_to new_group_path do
          .fa.fa-edit
      %li.chat-side__user-cog
        = link_to edit_user_path(current_user) do
          .fa.fa-cog
  .group-main
    .group-list
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group-names
            -# maruchans
            = group.name
          .message-latest
            -# CSS苦手
            = group.show_last_message
    -# .group-list
    -#   .group-names
    -#     Designチーム
    -#   .message-latest
    -#     CSSってなんだろう